.inputboxes
  !=text_tag_for("user", "firstName", user.firstName);
.inputboxes
  !=text_tag_for("user", "lastName", user.lastName);
.inputboxes 
  !=text_tag_for("user", "email", user.email);
.inputboxes
  !=integer_tag_for("user", "acrualRate", user.acrualRate);