.container
  .conthead
    h2 Users
  .contentbox
    - if (list.length)
      table
        thead
          tr
            th Name
            th Email
            th PTO Balance
            th Accrual Rate
            th Actions
          -each user in list
            tr
              td 
                a(href: '/user/show/' + user._id) #{ user.fullName }
              td #{ user.email }
              td #{ user.ptoBalance }
              td #{ user.acrualRate }
              td 
                !=delete_tag_for("user", user.id)
                !=edit_tag_for("user", user.id)
