.container
  .conthead
    h1 New User
  .contentbox
    form#save(method: "post")
      !=partial('fields')
      .buttons 
        input(type="submit", value="Create").btn 
        span &nbsp; or &nbsp;
        a(href: '/') cancel
