.container
  .conthead
    h1 New User
  .contentbox
    form#save(method: "post")
      .inputboxes
        !=text_box('user', 'name')
      .inputboxes 
        !=text_box('user', 'email')
      .inputboxes
        label(for="user[acrualRate]") Acrual Rate:    
        input(type: "integer", name: "user[acrualRate]").inputbox.smaller       
      .buttons 
        input(type="submit", value="Save").btn 
        span &nbsp; or &nbsp;
        a(href: '/') cancel
