h1 New User
form#save(method: "post")
  p
    label(for="user[name]") Name:
      input(type: "text", name: "user[name]")
  p 
    label(for="user[email]") Email:
      input(type: "text", name: "user[email]")
        
  p.buttons
    input(type="submit", value="Save")      
