li.user
  p
    a(href='user/' + user._id)= user.name 
    &nbsp; 
    a(method: 'delete', href: '/user/delete/' + user._id) 
      img(src: '/images/icons/icon_delete.png')
  .email= user.email
  .acrual-rate= user.acrualRate
