!!!
html
  head
    title Matt's Killer Node App
    link(rel="stylesheet", href="/styles/fullcalendar.css")
    link(rel="stylesheet", href="/styles/main.css")
    link(href='/themes/blue/styles.css', rel='stylesheet', type='text/css')
  body
    #header
      img(src: '/images/logo.png', alt: 'Didit PTO').logo
    #left
      #userbox
        p Welcome Matt
        p
          span You are logged in as Admin
      ul#nav
        li
          a.heading.expanded User Admin
          ul.navigation(style: "display: none;")
            li
              a(title: "list", href: '/users/list') List Users
              a(title: "add", href: '/users/new') Add User

    #right
      #content!= body
    script(src: 'http://dwpe.googlecode.com/svn/trunk/_shared/EnhanceJS/enhance.js'     , type: 'text/javascript')
    script(src: 'http://dwpe.googlecode.com/svn/trunk/charting/js/excanvas.js'          , type: 'text/javascript')
    script(src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'      , type: 'text/javascript')
    script(src: 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js' , type: 'text/javascript')    
    script(src: '/js/jquery.fancybox-1.3.4.pack.js'                                      , type: 'text/javascript')  
    script(src: '/js/fullcalendar.min.js'                                                , type: 'application/javascript')  
    script(src: '/js/jquery.wysiwyg.js'                                                  , type: 'text/javascript')  
    script(src: '/js/visualize.jQuery.js'                                                , type: 'text/javascript')  
    script(src: '/js/functions.js'                                                      , type: 'application/javascript')